<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.f44red">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_f44red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_f44red_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".F44SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_title" />
        <activity
            android:name=".WPPostDetails"
            android:label="@string/post_detail" />
        <activity
            android:name=".News"
            android:label="@string/news"/>
        <activity
            android:name=".AboutUs"
            android:label="@string/about_us" />
        <activity
            android:name=".Contact"
            android:label="@string/contact_info" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>